.device-page {
    margin: 20px;
    width: 80%;
    z-index: -1;
}

.device-details {
    display: flex;
    justify-content: space-between;
}

.device-info {
    flex: 1;
    padding-right: 70px;
    min-width: 360px;
}

.device-info p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testing-history{
    padding: 10px;
}

.pie-chart {
    width: 200px;
    margin-left: 20px;
}
