.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    overflow: hidden; /* Предотвращаем появление скроллбара на этом уровне */
}

.page-content {
    flex: 5;
    overflow-y: auto; /* Добавляем вертикальную прокрутку для содержимого */
}
