@import '../../variables.css';

.header {
    position: fixed;
    top: 0;
    left: 0; /* Зафиксируем Header по левому краю */
    right: 0; /* Растянем Header по всей ширине экрана */
    width: 100%; /* Указываем ширину явно, хотя width: 100vw; также будет работать */
    display: flex;
    flex: 0 0 auto; /* Жестко фиксируем Header по высоте */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: var(--background);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--primary) 20%);
    z-index: 1000; /* Чтобы Header был поверх других элементов */
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--background);
    margin: 20px;
}

.logo {
    height: 40px; 
    width: 40px;
    margin-right: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px; 
    width: 35px;
    border-radius: 50%;
    background-color: var(--accent);
    margin-left: 10px;
    font-size: 20px;
    border: 2px solid var(--secondary);
    cursor: pointer;
}

.darktheme{
    color: var(--background);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.darktheme:hover {
    opacity: 0.33;
}

.header-right{
    display: flex;
    align-items: center;
    margin: 20px 20px 25px 20px;
}