.sidebar {
  flex: 1; /* Жестко фиксируем Sidebar по ширине */
  overflow-y: auto; /* Добавляем вертикальную прокрутку, если содержимое выходит за пределы */
    min-width: 150px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    display: block;
  }
  
  .sidebar nav ul li.active {
    background-color: #f0f0f0;
  }
  
  .sidebar nav ul li.active a {
    color: #007bff;
  }
  